body{
	min-width: 1200px;
}
/*	Right navigation
------------------------------------------------*/
table#pda-language-switch
{
	width: 200px;
	position: relative;
	left: 7px; //left: 5px;
	margin-top: 20px;
}
table#pda-language-switch{
	font-size: 85%;
}
table#pda-language-switch td {
	font-size: 100%;
}
td#language-switch
{
	text-align: right;
	padding-right: 14px;
}
td#language-switch a, td#language-switch a:visited
{
	color: #08628C;
}
td#language-switch a:hover {
	color: #ef3124;
}
/* Language switch */
div.language-switch
{
	height: 65px;
	font-size: 85%;
	width: 130px;
	margin-left: 70px;
	position: relative;
	top: -10px;
}
div.pda-switch
{
	height: 65px;
	font-size: 85%;
	width: 90px;
	margin-left: 90px;
	position: relative;
	left: 10px;
	top: 25px;
}
div.pda-switch a, div.pda-switch a:visited
{
	color: #F03226;
}
div.language-switch div.reducer {padding: 35px 0 1em 54px;}
div.language-switch ul {margin: 0;}
div.language-switch ul li {display: block; float: left; margin: 0 0.8em 0 0;}
div.language-switch ul li strong {color: #ef3124;}
div.language-switch ul li a:link,
div.language-switch ul li a:visited {color: #08628c;}
div.language-switch ul li a:hover {color: #ef3124;}
/* Geo navigaion */
div.geo-nav {margin: 0 0 20px 9px; font-size: 95%; position: relative; z-index: 1; }
body:first-of-type { font-size: 85%; }	/* safari */
div.geo-nav h4 {font-size: 120%; font-weight: normal; margin: 1.2em 0 0.3em 0;}
div.geo-nav h3 { font-size: 100%; font-weight: bold; margin-top: 1.2em; color: #000000; font-style: normal; margin-bottom: 4px; padding-left:0 !important;}
body:first-of-type div.geo-nav h3 { font-size: 100%; font-weight: bold; }	/* safari */
div.geo-nav ul {margin: 0 0 0.3em 0;}
div.geo-nav ul li {margin: 0 0 3px 0;}
div.geo-nav ul li strong {color: #ef3124;}
div.geo-nav ul li strong a:link,
div.geo-nav ul li strong a:visited,
div.geo-nav ul li strong a:hover {color: #ef3124;}
/* Currency converter
------------------------------------------------*/
.b-converter {
	padding: 0 0 10px 3px;
	margin-right: -11px;
}
.b-converter h4 {
	background: url('/f/1/i/i-plus.gif') no-repeat 0 4px;
	cursor: pointer;
	padding-left: 12px;
	zoom: 1;
}
.b-converter h4.selected {
	background: url('/f/1/i/i-minus.gif') no-repeat 0 4px;
}
.b-converter div.h-converter {
	margin-top: 3px;
	padding-left: 11px;
}
.b-converter input {
	width: 94px;
	text-align: right;
}
.b-converter td.comission input {
	width: 30px;
	text-align: right;
}
.b-converter table {
	width: 100%;
	// width: 160px;
}
.b-converter table.result {
	margin: 0.8em 0 0;
}
.b-converter td {
	vertical-align: top;
	text-align: center;
	padding: 0 1.5em 0.2em 0;
}
.b-converter table.result td {
	padding-top: 3px;
}
.b-converter td.input {
	padding-right: 5px;
	width: 94px;
}
.b-converter td.value {
	text-align: right;
	font-weight: bold;
	color: #000;
	width: 94px;
}
.b-converter td.comission, .b-converter td.text {
	font-size: 74%;
}
.b-converter td.comission {
	text-align: right;
	padding: 18px 5px 5px 0;
}
.b-converter td.label {
	text-align: left;
}
.b-converter td.label span {
	position: relative;
	top: 5px;
}
.b-converter td.text {
	color: #94999C;
	text-align: left;
}
/* Shortcuts to RSS and subscribe
------------------------------------------------*/
.b-shortcuts {
	margin-top: 17px;
}
.b-shortcuts ul {
	margin: 0;
}
.b-shortcuts li img {
	border: 0 none;
	margin-right: 4px;
	vertical-align: middle;
}
.b-shortcuts li.rss img {
	position: relative;
	left: -1px;
}
div.main-banner {
	position: relative;
	margin: 0 0 10px;
}
div.main-banner div.image {
	position: absolute;
	left: 0;
	top: 0;
}
div.main-banner div.image.bottom {
	top: auto;
	bottom: 0;
}
* html div.main-banner div.image.bottom {
	bottom: expression( this.parentNode && this.parentNode.offsetHeight % 2 ? -1 : 0 );
}
div.main-banner div.caption {
	padding: 4em 20px 0.3em 345px;
}
div.main-banner div.caption p {
	margin: 4px 0 0;
	padding: 0;
}
div.main-banner div.caption h2 {
	font-size: 100%;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
div.main-banner div.caption h2 strong {
	color: #ef3124;
	font-size: 180%;
	margin-top: 0;
	display: block;
}
div.splash {
	position: relative;
	min-height: 309px;
	height: 331px;
	margin: 0 0 10px;
	/*overflow: hidden;  sss */
}
div.splash div.image {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 302px;
	height: 329px;
}
* html div.splash div.image {
	right: expression( this.parentNode && this.parentNode.offsetWidth % 2 ? -1 : 0 );
	bottom: expression( this.parentNode && this.parentNode.offsetHeight % 2 ? -1 : 0 );
}
div.splash div.image div.top {
	width: 302px;
	height: 20px;
	background-position: top right;
	background-repeat: no-repeat;
}
div.splash div.image div.main {
	width: 302px;
	height: 309px;
	background-position: top right;
	background-repeat: no-repeat;
}
div.splash div.logo {
	padding: 10px 52px 15px;
}
div.splash div.intro {
	min-height: 137px;
	height: 137px;
	font-size: 95%;
}
div.splash div.intro div.reducer {
	/*padding: 10px 302px 0.3em 100px;*/
	padding: 10px 335px 0.3em 80px;
}
div.splash div.intro h1,div.splash div.intro p {
	margin: 0 0 0.5em;
}
div.terminal-splash div.intro div.reducer {
	padding-right: 200px;
	padding-bottom: 3.8em;
}
table.main-nav div.main-nav {
	position: relative;
	z-index: 1;
	width: 100%;
}
table.main-nav img.main-nav-l {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 92px;
	background: url('/f/1/main-nav-l.png');
//	background: expression( 'none' );
//	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src= '/f/1/main-nav-l.png' , sizingMethod= 'crop' );
}
table.main-nav img.main-nav-r {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 92px;
	background: url( '/f/1/main-nav-r.png' );
//	background: expression( 'none' );
//	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src= '/f/1/main-nav-r.png' , sizingMethod= 'crop' );
}
table.main-nav div.item {
	background-color: #FFF;
	margin: 0 10px;
	padding: 5px 0 11px;
}
table.main-nav div.item div {
	padding-bottom: 10px;
	border-bottom: 2px solid #ef3124;
	width: 100%;
}
div.footer-front div.box div.artlebedev-logo {
	position: absolute;
	right: 0;
	bottom: -7px;
}
div.footer-front div.box div.artlebedev-info {
	color: #000;
	position: absolute;
	right: -180px;
	bottom: -5em;
	width: 170px;
	height: 5em;
}
* html div.footer-front div.box div.artlebedev-info {
	right: expression( this.parentNode && this.parentNode.offsetWidth % 2 ? -181 : -180 );
}
div.footer-front div.box div.artlebedev-info p {
	font-size: 85%;
	margin: 0;
}
div.footer-front div.box div.artlebedev-info a:link,div.footer-front div.box div.artlebedev-info a:visited {
	color: #08628c;
}
table.news-block td.spacer div {
	width: 10px;
}
div#exchange-rates h3, div#exchange-rates h4, div#exchange-rates p#all-currency {
	font-size: 93%;
}
div#exchange-rates table th {
	font-size: 71%;
}
div#exchange-rates p.outdated {
	color: #94999C;
	font-size: 7pt;
	margin-top: -5px;
	margin-bottom: 14px;
}
div.exchange-rates h2 {
	color: #ef3124;
	font-size: 110%;
	font-weight: bold;
	padding-left: 20px;
}
div#exchange-rates div.frame-gray {
	background-color: #E6EBEE;
}
table.news-block div.exchange-rates,table.news-block div.main-news,table.news-block div.latest-news {
	/*margin-right: 15px;*/
}
div.exchange-rates h3, div.exchange-rates h4 {
	font-size: 100%;
	color: #000;
	font-weight: 400;
	margin-top: 0;
}
div#rates-block-cb div.reducer {
	padding: 0px 20px 7px;
}
div.exchange-rates table th {
	color: #ef3124;
	font-weight: normal;
}
div.exchange-rates table th,div.exchange-rates table td {
	vertical-align: top;
	text-align: center;
	padding: 0 1.5em 0.2em 0;
}
div.exchange-rates table#alfa-noncash, div.exchange-rates table#alfa-cash {
	margin:-6px 0 0 !important;
}
p#all-currency {
	margin-bottom: 0;
	padding-bottom: 14px;
}
div.exchange-rates table td.currency {
	font-weight: 700;
	text-align: left;
}
div.rates-block {
	margin-bottom: 0.7em;
}
div.rates-block div.reducer {
	padding: 7px 20px 0 20px;
}
div.rates-block-hidden div.reducer div, div.rates-block-hidden div.reducer table, div.rates-block-hidden div.reducer p {
	display: none;
}
div.rates-block h3 {
	cursor: pointer;
}
div.rates-block-hidden h3.hover {
/*	background: url('/f/1/i/i-minus.gif') no-repeat 0 4px;*/
}
div.rates-block h3 {
	padding-left: 12px;
	padding-right: 20px;
	padding-top: 11px;
	margin-left: 8px;
	background: url('/f/1/i/i-minus.gif') no-repeat 0 17px;
	margin-bottom: 0;
}
div.rates-block-hidden h3 {
	background: url('/f/1/i/i-plus.gif') no-repeat 0 17px;
	padding-left: 12px;
	margin-bottom: 5px;
}
/*div#exchange-rates div.rates-block-hidden {
	background: #FFFFFF;
}*/
/*
div.rates-block-hidden h3 span {
	color: #08628c;
	border-bottom: 1px dashed #08628c;
	cursor: pointer;
}
div.rates-block-hidden h3.hover span {
	color: #ef3124;
	border-bottom: 1px dashed #ef3124;
	cursor: pointer;
}*/
div#rates-block-cb {
	margin-top: -8px;
}
div.main-news p.date {
	color: #94999c;
	font-style: italic;
	font-size: 85%;
	margin-bottom: 0.3em;
}
div.main-news h2 {
	color: #ef3124;
	margin: 0 0 0.1em;
}
div.main-news h2.short {
	font-size: 250%;
	font-weight: 700;
}
div.latest-news div.news-list {
	font-size: 85%;
}
div.latest-news div.news-list div.news-item div.date,div.latest-news div.news-list div.news-item div.location {
	font-size: 100%;
}
div#splash-switch {
	width: 80px;
	height: 30px;
	position: absolute;
	right: 0;
	z-index: 10;
}
div#splash-switch div.language-switch ul li strong {
	color: #f0b0a6;
	font-weight: 700;
}
div#splash-switch a,div#splash-switch a:visited {
	color: #FFF;
}
td.navigation div#ProfileHead {
	margin-top: 2px;
}
div.achtung{
	border: 1px #ef3124 dashed;
	width: 99%;
	margin: 0 0 1.2em 0;
}
div.achtung div.text{
	padding: 16px;
}
div.achtung2 {
	border: 1px #ef3124 dashed;
	width: 99%;
	margin: 0 0 1.2em;
	padding: 16px 0 5px;
}
div.achtung2 div.logo,div.achtung2 div.text {
	float: left;
}
div.achtung2 div.logo {
	padding: 0 0 0 18px;
}
div.achtung2 div.text {
	text-align: left;
	font-weight: 700;
	font-size: 8pt;
	line-height: 172%;
	width: 50%;
	padding: 0 0 0 18px;
}
* html div.main-banner div.image,* html table.main-nav div.main-nav-r,* html div.footer-front div.box div.artlebedev-logo {
	right: expression( this.parentNode && this.parentNode.offsetWidth % 2 ? -1 : 0 );
}
div.terminal-splash {
	height: 200px !important;
	min-height: 200px;
}
div.terminal-splash,
div.terminal-splash div.intro {
	//min-height: 0;
	//height: auto;
}
div.footer-front div.box div.artlebedev-info a:hover {
	color: #ef3124;
}
div.exchange-rates table.conv td.curr-description,div.exchange-rates table.nocache-desc td {
	text-align: left;
	font-size: 7pt;
	color: #94999C;
	padding: 5px 0 0;
}
div.exchange-rates table.conv,div.exchange-rates table.nocache-desc {
	width: 100%;
	//width: 80%;
	margin-bottom: 10px;
	margin-top: -2px;
}
div#city-detected div.frame-whole-tl,div#city-detected div.frame-whole-bl {
	background: none;
}
body.frontpage div.contacts a.pseudo-link { font-size: 122%; }
body.frontpage div.contacts h3{padding-left:0 !important;}
/* body.frontpage div.contacts a.pseudo-link { border-bottom: #ef3124 1px dashed; color: #ef3124;} */
body.frontpage div.contacts a.b-pseudo-link { font-size: 122%; }
/* body.frontpage div.contacts a.b-pseudo-link { border-bottom: #ef3124 1px dashed; color: #ef3124;} */
body.frontpage table#consultant-table{
	width: 175px;
	//width: 165px;
}
div.thermo-nav {
	display: none;
}
table.layout, table.news-block {
	border-collapse: collapse;
	width: 100%;
}
table.layout td.body, table.layout td.navigation {
	vertical-align: top;
}
table.layout td.body {
	width: 80%;
	padding-left: 15px;
}
table.layout td.navigation {
	width: 20%;
}
table.news-block td.news {
	width: 33%;
	padding: 0 10px 0 0;
	vertical-align: top;
}
.navigation {
	padding: 0 15px 0 20px !important;
}
/* Р›РѕРіРѕС‚РёРїС‹ СЃС‡С‘С‚С‡РёРєРѕРІ РІ РїР°РґРІР°Р»Р°С… СЃС‚СЂР°РЅРёС† */
.counter_logos {
	margin: 0 0 0 20px !important;
	height: 31px !important;
}
.counter_logos div {
	float: left !important;
	padding: 15px 5px 0 !important;
}
.counter_logos div.mail {
	padding: 31px 5px 0 !important;
}
/* Р»РµС‡РµРЅРёРµ С…РѕРІРµСЂРѕРІ РІ РёРµ */
body {
   //behavior: url("/f/1/global/csshover3.htc");
}
/* РќР°РІРёРіР°С†РёСЏ РІ РїСЂР°РІРѕР№ РєРѕР»РѕРЅРєРµ
------------------------------------------------*/
.navigation .idea {
	position: relative;
	left: -8px;
	margin-top: -4px;
	margin-bottom: 21px;
}
.navigation .idea a {
	font-size: 135%;
	font-style: italic;
}
/* Р‘Р»РѕРє "РЎРґРµР»Р°Р№ СЃРІРѕР№ Р±Р°РЅРє РµС‰С‘ Р»СѓС‡С€Рµ" */
.navigation .idea li {
	padding-left: 15px;
	background: transparent url('/f/1/global/i-popup.gif') no-repeat 0 6px;
	line-height: 175%;
}
.navigation .idea a img {
	display: none;
}
/* jquery.autocomplete.css */
.ac_results {
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	border: 1px solid #C5C5C5;
	padding: 0 2px 1px 0;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.ac_results img
{
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background-color: white;
	/*
	background: white url('/Images/indicator.gif') right center no-repeat;
	*/
}
.ac_odd {
	background-color: #e6eef4;
}
.ac_over {
	background-color: #f44f24;
	color: white;
}
div.frame-gr{
	background:url(/f/1/splash-blink.png) no-repeat;
	height:209px;
	position:absolute;
	top:0;
	width:100%;
	z-index:2;
}
div.splash div.intro{
	position:absolute;
	z-index:3;
}
.m-msie-8 div.splash div.intro{
	font-size:0.80em;
}
div.splash table.main-nav{
	padding-top:137px;
	z-index:4;
}
div.terminal-splash .main-nav {
	margin-top: 10px;
	padding-top: 0 !important;
	top: 0 !important;
}
div.terminal-splash .main-nav .main-nav-item img {
	background-repeat: no-repeat;
	background-position: 0 0;
}
div.terminal-splash .main-nav .main-nav-item { padding: 0 10px; }
div.terminal-splash .main-nav .main-nav-item .default { display: block; }
div.terminal-splash .main-nav .main-nav-item .hover { display: none; }
div.terminal-splash .main-nav .retail .default { display: block; }
div.terminal-splash .main-nav .retail .hover { display: none; }
div.terminal-splash .main-nav .hover .retail .default { display: none; }
div.terminal-splash .main-nav .hover .retail .hover { display: block; }
div.terminal-splash .main-nav .hover .hover .default { display: none; }
div.terminal-splash .main-nav .hover .hover .hover { display: block; }
div.helpful-banners div.alfa-click-banneer{
	width:210px;
	//width:203px;
	height:64px;
	background:url(/f/1/i/alfa-click-small.png) no-repeat 0 0;
	//background:url(/f/1/i/alfa-click-small-ie.png) no-repeat -1px 0;
	margin-bottom:0.7em;
}
div.helpful-banners div.alfa-click-banneer-gray{
  width:210px;
  //width:203px;
  height:70px;
  background:url(/f/1/global/alfa-click-gray.png) no-repeat -1px 0;
  //background:url(/f/1/global/alfa-click-gray1.png) no-repeat -1px 0;
  margin-bottom:0.8em;
  //margin-bottom:1.2em;
}
div.helpful-banners div.alfa-click-banneer-comment{
	background:url(/f/1/global/alfa-click-comment-arrow.gif) no-repeat;
	background-position:13px 3px;
	margin-top:-8px;
	margin-bottom:1.5em;
}
div.security{
	background:url(/f/1/global/banneer-comment-arrow.gif) no-repeat;
	background-position:13px 6px !important;
	margin-left:0 !important;
	padding-left:0 !important;
}
div.helpful-banners div.alfa-click-banneer-comment ul li a{
	font-size:95%;
}
div.frame-whole.splash-{
	background:url(/f/1/splash-blink.png) no-repeat #EF3124;
}
div.frame-red-blink{
	background:#EF3124;
	padding:0 !important;
	width:209px !important;
	//width:201px !important;
	position:relative;
}
div.frame-red-blink div.top-bar{
	width:209px;
	//width:201px;
	height:15px;
	background:url(/f/1/top-bar.gif) no-repeat;
	//background:url(/f/1/top-bar-ie.gif) no-repeat;
}
div.frame-red-blink div.container{
	padding:10px;
	padding-top:0;
	background:url(/f/1/hl-back.png) no-repeat;
}
div.frame-red-blink div.container{
	//width:181px;
	//background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src= '/f/1/hl-back.png' , sizingMethod= 'crop' );
}
div.frame-red-blink div.container div.frame-whole-bl,div.frame-red-blink div.container div.frame-whole-br{
	position:absolute;
	top:bottom;
	width:7px;
	height:7px;
}
div.frame-red-blink div.container div.frame-whole-bl{
	left:0;
	background:url(/f/1/hl-outer-b-l.gif) no-repeat;
}
div.frame-red-blink div.container div.frame-whole-br{
	right:0;
	//right:-1px;
	background:url(/f/1/hl-outer-b-r.gif) no-repeat;
}
div.frame-red-blink div.container div.helpful-interactive{
	padding:0 !important;
	margin:0 !important;
	margin-bottom:20px !important;
}
div.helpful-interactive div.interactive-title{
	padding:0 !important;
	margin:0 !important;
}
div.helpful-interactive div.interactive-title div.frame-whole-t{
	width:191px;
	//width:181px;
	height:9px;
	background:url(/f/1/hl-inner-t.gif) no-repeat;
	//background:url(/f/1/hl-inner-t-ie.gif) no-repeat;
}
div.helpful-interactive div.interactive-title div.frame-whole-b{
	width:191px;
	//width:181px;
	height:9px;
	background:url(/f/1/hl-inner-b.gif) no-repeat;
	//background:url(/f/1/hl-inner-b-ie.gif) no-repeat;
}
div.helpful-interactive div.interactive-title div.interactive-title-container{
	background-color:#fff;
	width:161px;
	//width:181px;
	color:#000;
	font-size:0.75em;
	text-align:left;
	padding-top:6px;
	padding-left:15px;
	padding-right:15px;
	//padding-left:10px;
	//padding-right:10px;
}
div.helpful-interactive div.interactive-title div.interactive-title-container ul{
	margin-top:5px;
	padding-left:0;
	padding-bottom:5px;
}
div.frame-red-blink div.container ul li a{
	color:#FCC;
}
div.frame-red-blink div.container ul li a:hover{
	color:#fff;
}
div.helpful-interactive div.interactive-title div.interactive-title-container ul li a{
	color:#176B93;
}
div.helpful-interactive div.interactive-title div.interactive-title-container ul li a:hover{
	color:#EF3124;
}
table.layout td.body {
width: 85% !important;
}
table.layout td.navigation {
	width: 200px !important;
	//width: 20%;
}
/* @group convert-comm-help */
table.layout{
	//z-index:5;
}
#currencyFromType{
	z-index:4;
}
#convert-comm-help{
	z-index:122;
	zoom:1;
	//overflow:hidden;
}
#convert-comm-help h2{
	color:#ef3124;
	font-size:150%;
	margin-bottom:1em;
}
* html #convert-comm-help ul li {behavior: expression( !this.before && this.parentNode && this.parentNode.nodeName == 'UL' ? this.before = this.innerHTML = '<span class="bullet">&mdash;&nbsp;</span>' + this.innerHTML : '' ); text-indent: expression( this.parentNode && this.parentNode.nodeName == 'UL' ? '-1.3em' : 0 );}
* html #convert-comm-help ul li span.bullet {color: #ef3124;}
#convert-comm-help ul>li {text-indent: -1.3em;}
#convert-comm-help ul>li:before {content: '\2014\a0'; color: #000000;}
#convert-comm-help ol{
}
#convert-comm-help ol>li{
	color:#ef3124;
	font-style:italic;
	font-size:1.2em;
	font-weight:700;
}
#convert-comm-help ol>li ul{
	font-weight:100;
}
#convert-comm-help ol>li span{
	color:#000000;
	font-size:0.85em;
	font-style:normal;
	font-weight:100;
}
#convert-comm-help span.description{
	color:#95999A;
	font-size:0.8em;
}
#convert-comm-help ul.inner{
	margin-left:0;
}
#show-convert-help{
	background:url(/f/1/i/convert-help.gif) no-repeat 0 0;
	height:25px;
	margin:1em 0;
	font-size:0.85em;
	padding-left:35px;
	vertical-align:middle;
	padding-top:5px;
	zoom:1;
	margin-left:-20px;
	float:left;
	position:relative;
}
#show-convert-help a{
	color:#08628C;
	border-bottom:1px dashed;
	zoom:1;
	cursor:pointer;
	white-space:nowrap;
	text-decoration:none;
}
#show-convert-help a:hover{
	color:#ef3124;
}
#show-convert-help iframe  {
  display:none;
  display/**/:block;
  position:absolute;
  top:0px;
  left:0px;
  z-index:-1;/*must have*/
  filter:mask();/*must have*/
  right:0;
  bottom:0;
}
body.fuck-ie select{
	visibility:hidden;
}
table#alfa-convert td.input{
	width:110px !important;
}
/* @end */
#open-staff-info{
	background:url(/f/1/global/i-about-private.gif) no-repeat;
	width:11px;
	height:11px;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
	z-index:2;
}
#ab-staff-desc{
	width:300px;
	right:-245px;
	top:10px;
}
#ab-staff-desc div.content{
	color:#000000;
	background-color:#ffffff;
	font-size:0.85em;
}
#ab-staff-desc div.sh-t-l{
	background:url(/f/1/global/frame/w-sh-t-l.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-t-l.png', sizingMethod='crop');
}
#ab-staff-desc div.sh-t-r{
	background:url(/f/1/global/frame/w-sh-t-r.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-t-r.png', sizingMethod='crop');
}
#ab-staff-desc div.sh-t-m{
	background:url(/f/1/global/frame/w-sh-t-m.png) repeat-x;
	//background:none;
	//background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-t-m.png', sizingMethod='scale');
}
#ab-staff-desc div.sh-b-l{
	background:url(/f/1/global/frame/w-sh-b-l.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-b-l.png', sizingMethod='crop');
}
#ab-staff-desc div.sh-b-r{
	background:url(/f/1/global/frame/w-sh-b-r.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-b-r.png', sizingMethod='crop');
}
#ab-staff-desc div.sh-b-m{
	background:url(/f/1/global/frame/w-sh-b-m.png) repeat-x;
	//background:none;
	//background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-b-m.png', sizingMethod='scale');
}
#ab-staff-desc div.sh-l{
	background:url(/f/1/global/frame/w-sh-m-l.png) repeat-y;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-m-l-ie.png', sizingMethod='crop');
}
#ab-staff-desc div.sh-r{
	background:url(/f/1/global/frame/w-sh-m-r.png) repeat-y 100% 0;
	//background:none;
}
#ab-staff-desc  div.sh-r-ie{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/f/1/global/frame/w-sh-m-r-ie.png', sizingMethod='crop');
}
div.ie-old-splash{
	position:relative;
	height:91px;
	background:url(/i/ie/ie-6-fuck-back.jpg) no-repeat 0 0;
	margin-bottom:1em;
	margin-top:1em;
}
div#ie-old-splash.small-msg{
	height:30px;
}
div.ie-old-splash div.frame-bl,div.ie-old-splash div.frame-br{
	display:none;
}
div#ie-old-splash.small-msg div.frame-bl,div#ie-old-splash.small-msg div.frame-br{
	display:block;
}
div.ie-old-splash div.short-message{
	color:#ffffff;
	padding-left:3ex;
}
div.ie-old-splash div.short-message span{
	line-height:30px;
}
div#ie-old-splash.small-msg div.frame-r{
	height:10px;
}
div.ie-old-splash div.close{
	position:absolute;
	right:10px;
	top:7px;
	cursor:pointer;
}
div.ie-old-splash div.close span{
	zoom:1;
	color:#ffffff;
	border-bottom:1px dashed #ffffff;
	font-size:0.85em;
}
div.ie-old-splash div.close span:hover{
	border-bottom:1px solid #ffffff;
}
div.ie-old-splash div.frame-r{
	position:absolute;
	right:-1px;
	top:0;
	height:91px;
	width:10px;
	background:url(/i/ie/ie-6-fuck-right.jpg) no-repeat;
}
div.ie-old-splash div.frame-bl{
	position:absolute;
	bottom:0;
	left:0;
	width:10px;
	height:10px;
	background:url(/i/ie/ie-6-fuck-bottom.gif) no-repeat 0 0;
}
div.ie-old-splash div.frame-br{
	position:absolute;
	bottom:0;
	right:-1px;
	width:10px;
	height:10px;
	background:url(/i/ie/ie-6-fuck-bottom.gif) no-repeat -10px 0;
}
div.ie-old-splash table{
	width:90%;
}
div.ie-old-splash td{
	color:white;
	width:14%;
	height:91px;
	text-align:center;
}
div.ie-old-splash td.message{
	width:30%;
	padding:0 30px;
	text-align:left;
}
div.ie-old-splash a{
	color:white;
}
div.ie-old-splash a:hover{
	color:white;
}
div.ie-old-splash a.browser-select img{
	width:50px;
	height:50px;
	border:0;
}
div.ie-old-splash a.browser-chrome img{
	background:url(/i/ie/get-chrome.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/ie/get-chrome.png', sizingMethod='scale');
}
div.ie-old-splash a.browser-firefox img{
	background:url(/i/ie/get-firefox.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/ie/get-firefox.png', sizingMethod='scale');
}
div.ie-old-splash a.browser-safari img{
	background:url(/i/ie/get-safari.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/ie/get-safari.png', sizingMethod='scale');
}
div.ie-old-splash a.browser-opera img{
	background:url(/i/ie/get-opera.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/ie/get-opera.png', sizingMethod='scale');
}
div.ie-old-splash a.browser-ie img{
	background:url(/i/ie/get-ie.png) no-repeat;
	//background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/ie/get-ie.png', sizingMethod='scale');
}
#staff-think{
	position:absolute;
	width:274px;
	height:77px;
	background:url(staff-bubbles.png) no-repeat;
	top:-70px;
	right:210px;
}
#staff-think a{
	font-size:1.2em;
	line-height:77px;
	color:white;
	padding-left:48px;
}
/* NY 2012! */
#staff-think{
	background:url(ny12-bubbles.png) no-repeat;
}
#staff-think a{
	color:#EF3124;
	z-index:10;
	font-size: 1.1em;
	position: relative;
}
.b-ny{
	position: absolute;
	overflow:hidden;
	z-index:2;
	top:1px;
	left:7px;
	height:75px;
	width:202px;
	-webkit-border-top-left-radius: 28px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 28px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 28px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 15px;
	
	-moz-transform: skew(24deg);
	-o-transform: skew(24deg);
	-ms-transform: skew(24deg);
	-webkit-transform: skew(24deg);
}
.e-snowflake{
	position:absolute;
	z-index:3;
	top:-25px;
	left:0;
	background:url(snowflakes.png) no-repeat 0 0;
	-moz-transform: skew(-24deg);
	-o-transform: skew(-24deg);
	-ms-transform: skew(-24deg);
	-webkit-transform: skew(-24deg);
}
.e-snowflake-1{
	width:16px;
	height:17px;
	background-position:0 0;
}
.e-snowflake-2{
	width:14px;
	height:14px;
	background-position:-19px 0;
}
.e-snowflake-3{
	width:8px;
	height:8px;
	background-position:-36px -1px;
}
.e-snowflake-4{
	width:9px;
	height:9px;
	background-position:-48px -1px;
}
.e-snowflake-5{
	width:11px;
	height:11px;
	background-position:-60px -1px;
}
.e-snowflake-6{
	width:9px;
	height:9px;
	background-position:-74px -1px;
}
.e-snowflake-7{
	width:15px;
	height:15px;
	background-position:-86px -2px;
}
/* NY 2012! */
div.helpful-links-blue-container{
	padding:0 0 1.5em 0;
	//padding-top:0;
}
div.helpful-links-blue{
	position:relative;
	overflow:hidden;
	padding:10px 15px;
	border:1px solid #c4e4fe;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgb(223,240,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(223,240,255,1) 0%, rgba(222,240,255,1) 50%, rgba(217,238,255,1) 50%, rgba(190,220,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,240,255,1)), color-stop(50%,rgba(222,240,255,1)), color-stop(50%,rgba(217,238,255,1)), color-stop(100%,rgba(190,220,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(223,240,255,1) 0%,rgba(222,240,255,1) 50%,rgba(217,238,255,1) 50%,rgba(190,220,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(223,240,255,1) 0%,rgba(222,240,255,1) 50%,rgba(217,238,255,1) 50%,rgba(190,220,249,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(223,240,255,1) 0%,rgba(222,240,255,1) 50%,rgba(217,238,255,1) 50%,rgba(190,220,249,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(223,240,255,1) 0%,rgba(222,240,255,1) 50%,rgba(217,238,255,1) 50%,rgba(190,220,249,1) 100%); /* W3C */
	//border:0;
	//background:url(/f/1/i/ie-is-not-good.png) no-repeat white;
	//width:208px;
	//height:76px;
}
div.helpful-links-blue div.bg-blink{
	position:absolute;
	top:50%;
	bottom:3px;
	left:-8px;
	right:0;
	border-top-left-radius:200px 40px;
	background: rgb(214,236,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(214,236,255,1) 0%, rgba(190,220,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,236,255,1)), color-stop(100%,rgba(190,220,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(214,236,255,1) 0%,rgba(190,220,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(214,236,255,1) 0%,rgba(190,220,249,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(214,236,255,1) 0%,rgba(190,220,249,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ecff', endColorstr='#bedcf9',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(214,236,255,1) 0%,rgba(190,220,249,1) 100%); /* W3C */
	//display:none;
}
div.helpful-links-blue div.item{
	position:relative;
	line-height:2.3em;
	//line-height:2.5em;
	font-size:0.95em;
	padding-left:35px;
}
/* doctype */
body{
	font-size:16px;
}
body:first-of-type{
	font-size:16px;
	line-height: 1em;
}
#helpfulInteractivesNew td{
	font-size:0.85em;
}
td.navigation div.contacts{
	font-size:16px;
}
table.banners div.banner div.caption{
	font-size:1em;
}
div.footer div.reducer{
	font-size:0.8em;
}
div.footer div.reducer p{
	white-space:pre;
}
div.splash table.main-nav{
	position:relative;
	top:110px;
	padding-top:0;
	z-index:1;
	bottom:0;
}
.m-msie-8 div.splash table.main-nav{
	top:119px;
}
.m-msie-9 div.splash table.main-nav{
	top:119px;
}
table.main-nav td{
	padding:20px 5px;
}
table.main-nav td:first-child{
	padding-left:10px;
}
table.main-nav td:last-child{
	padding-right:10px;
}
table.layout td.body{
	font-size:1em;
	line-height:1em;
}
.m-msie-8 table.layout td.body table{
	font-size:1.3em;
	line-height:1em;
}
.m-msie-8 table.layout td.navigation{
	font-size:1.1em;
}
.m-msie-8 .region-switch .breake{
	display:none;
}
div.splash div.intro p{
	font-size:0.85em !important;
} 
.m-msie-8 div.splash div.intro p{
	font-size:1.3em !important;
	line-height: 1.2em;
}
#contacts{
	font-size:1.3em;
	line-height:1.1em;
}
#contacts>h3{
	font-size:0.7em;
}
#contacts>p{
	font-size:0.7em;
}
#contacts table.consultant td p.title-consultant{
	font-size: 1em;
} 
div#contacts div.big-nav-link{
	font-size: 80%;
}
#plhBigBanner h2{
	line-height:1.3em;
}
#plhBigBanner p{
	line-height:1.3em;
}
#big .cc{
	line-height:1.3em;
}
#city_name-gl{
	line-height:1.3em;
}
#alfa-noncash{
}
table.nocache-desc td{
	font-size:8pt !important;
}
#main-nav{
	font-size:1em;
}
#main-nav .extra-nav{
	font-size:0.9em;
}
table.news-block td{
	font-size:0.85em;
	line-height: 1.4em;
}
.main-news h2{
	font-size:1.2em;
}
#plhBigBanner h2{
	font-size:0.85em;
}
#city-selector-gl,#city-selector-gl table,#city-selector-gl table td{
	font-size:1em;
}
#city-selector-gl table td{
	white-space:nowrap;
}