
<object id="cadesplugin" type="application/x-cades" class="hiddenObject"
	style="width: 1px; height: 1px;"></object>
<div style="width: 100%; height: 100%;">
	<!-- 	<form action=""  style="width: 100%; height: 100%;"> -->
	<div>Вы собираетесь подписать нижеследующий текст и перечисленные
		ниже файлы:</div>
	<div class="v-spacing"></div>
<!-- 	<div style="width: 100%; height: auto;"> -->
<!-- 		<textarea readonly="true" -->
<!-- 			class="v-textarea v-widget v-has-width v-has-height" id="tbsText" -->
<!-- 			style="width: 100%; height: auto; min-height: 200px"></textarea> -->
<!-- 	</div> -->
	<div style="width: 100%; height: auto;" location="text"></div>
	<div class="v-spacing"></div>
	<div location="hash" style="width: 100%; height: 30px !important; min-height: 30px;"></div>
	<div class="v-spacing"></div>
	<div>Приложения:</div>
	<div location="files" style="width: 100%; height: 150px;"></div>
	<div class="v-spacing"></div>
	<div tabindex="0" role="button" class="v-button v-widget"
		onclick="showCertChooser();" id="signButton"
		style="width: 100%; height: 30px !important; min-height: 30px;">
		<span class="v-button-wrap"> <span class="v-button-caption">Подтвердить</span>
		</span>
	</div>
</div>
