
<div id="min-width">
	<div id="container">
		<table>
			<tr>
				<td>
					<div class="mainContent">
						<div id="main-col">
							<div id="info">
								<div id="info_msg">
									<span id="PlugInEnabledTxt">Плагин не загружен</span><img src="Img/red_dot.png" width="10" height="10" alt="Плагин не загружен" id="PluginEnabledImg" /><br> 
									<span id="PlugInVersionTxt" lang="ru"></span> 
									<span id="CSPVersionTxt" lang="ru"></span><br> 
									<span id="CSPNameTxt" lang="ru"></span>
								</div>
							</div>
							<p></p>
							<input type="button" id="signButton" onclick="showCertChooserNew();"
								value="Подписать">

							<div id="cert_info" style="display: none">
								<h4>Информация о сертификате</h4>
								<p class="info_field" id="subject"></p>
								<p class="info_field" id="issuer"></p>
								<p class="info_field" id="from"></p>
								<p class="info_field" id="till"></p>
								<p class="info_field" id="provname"></p>
								<p class="info_field" id="algorithm"></p>
							</div>

							<p></p>
							<p id="info_msg" name="SignatureTitle">Подпись:</p>
							<div id="item_border">
								<textarea id="SignatureTxtBox" readonly
									style="font-size: 9pt; height: 600px; width: 100%; resize: none; border: 0;"></textarea>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
<!--
	//-->
	init();
</script>
