<div style="width: 100%; height: 100%;">

	<div id="info">
		<div id="info_msg">
			<span id="PlugInEnabledTxt">Плагин не загружен</span><img src="Img/red_dot.png" width="10" height="10" alt="Плагин не загружен" id="PluginEnabledImg" /><br> 
			<span id="PlugInVersionTxt" lang="ru"></span> 
			<span id="CSPVersionTxt" lang="ru"></span>
			<span id="CSPNameTxt" lang="ru"></span>
		</div>
	</div>
	<div id="cert_info" style="display: none">
		<h4>Информация о сертификате</h4>
		<p class="info_field" id="subject"></p>
		<p class="info_field" id="issuer"></p>
		<p class="info_field" id="from"></p>
		<p class="info_field" id="till"></p>
		<p class="info_field" id="provname"></p>
		<p class="info_field" id="algorithm"></p>
	</div>
	
	<div>Вы собираетесь подписать нижеследующий текст и перечисленные
		ниже файлы:</div>
	<div class="v-spacing"></div>
	<div style="width: 100%; height: auto;" location="text"></div>
	<div class="v-spacing"></div>
	<div location="hash" style="width: 100%; height: 30px !important; min-height: 30px;"></div>
	<div class="v-spacing"></div>
	<div>Приложения:</div>
	<div location="files" style="width: 100%; height: 150px;"></div>
	<div class="v-spacing"></div>
	<div tabindex="0" role="button" class="v-button v-widget"
		onclick="showCertChooserNew();" id="signButton"
		style="width: 100%; height: 30px !important; min-height: 30px;">
		<span class="v-button-wrap"> <span class="v-button-caption">Подтвердить</span>
		</span>
	</div>
</div>
