@import "../reindeer/reindeer.scss";

@import "common/common.scss";

@import "panel/panel.scss";

@import "table/table.scss";

@import "label/label.scss";

@import "textfield/textfield.scss";

@mixin exchangecontroluitheme { 
	@include reindeer; @include runo-panel; .v-bold
	{ font-weight:bold;	
}


/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
    white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
    padding-right: 10px;
}

.v-textfield-visible.v-readonly, 
.v-textfield-visible.v-disabled,
input.v-textfield-readonly,
textarea.v-textarea-readonly,
.v-datefield.v-readonly input.v-datefield-textfield{
    background: white;
    border: 1px solid #b6b6b6;
    border-top-color: #9d9d9d;
    border-bottom-color: #d6d6d6;
    border-right-color: #d6d6d6;
    color: #464f52;
    opacity: 1.0;
    text-align: right;
}

textarea.v-textarea-readonly:focus{
	background-color: transparent;	
}

input.v-textfield-readonly:focus{
	background-color: transparent;	
}

.underlined {
	border-bottom-width: 1px;
	border-bottom-color: #C3C7D0;
	border-bottom-style: solid;
	margin-bottom: 10px;
}


.v-table-cell-content-RIGHT {
	text-align: right;
}

.v-table-cell-content-CENTER {
	text-align: center;
}

.v-table-cell-content-RED {
    text-align: right;
	color: #EF3125;
}

.v-label-title {
	font-weight: bold;
	color: #EF3125;
	font-size: 20px;
}

.v-white {
	background-color: #F5F5F5;
	
}

.underlined {
	border-bottom-width: 1px;
	border-bottom-color: #C3C7D0;
	border-bottom-style: solid;
	margin-bottom: 10px;
}

.v-exitbutton {
	text-decoration: underline;
}

.v-label-date-news {
 	font-size: 11px;
 	line-height: 11px;
	color: #CFCFCF;
	font-style: italic;	
}

.v-link-news {
 	font-size: 12px;	
 	line-height: 12px;	
 	margin-bottom: 8px;
 	color:#1B699F;
}

.show-doc-button {
	position: absolute;
	z-index: 1;
	top: 202px;
	right: 10px;
}

.enter-button {
	position: absolute;
	z-index: 1;
	top: 350px;
	right: 1120px;
}

.show-feedback-button {
	position: absolute;
	z-index: 1;
	top: 454px;
	right: 10px;
}

.show-news-button {
	position: absolute;
	z-index: 1;
	top: 12px;
	right: 10px;
}

.show-report-button {
	position: absolute;
	z-index: 1;
	top: 12px;
	right: 636px;
}

.v-tabsheet-main {
	/*background-color: #F5F5F5;*/
	
}

/*.v-tabsheet-main .v-tabsheet-tabitem {
	background-image: url("img/tab.png");
	line-height: 32px;
	
}*/
.v-panel-caption {
	height: 32px;
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 0px;
	padding-right: 8px;
	color: #ED3326;
}

.v-tabsheet-main .v-tabsheet-tabitem .v-caption {
	width: 138px !important;
	text-align: center !important;
	font-weight: bold;
	background-image: url("img/tab.png");
}

.v-tabsheet-main .v-tabsheet-tabitem-selected .v-caption {
	border-color: red;
	color: black;
	background-image: url("img/activeTab.png");
}

.v-tabsheet-main .v-tabsheet-tabitem,.v-tabsheet-main .v-tabsheet-spacertd,.v-tabsheet-main .v-tabsheet-tabitem-selected,.v-tabsheet-main .v-tabsheet-tabitemcell-selected,.v-tabsheet-main .v-tabsheet-tabitemcell,.v-tabsheet-main .v-tabsheet-spacertd div
	{
	background-image: none;
	vertical-align: middle;
	height: 32px;
	line-height: 32px;
	/*Скрываем заголовок табшита вообще*/
	/*display: none;*/
}

.v-tabsheet-main .v-tabsheet-tabitem {
	/*background-color: #FFFFFF;*/
	/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: red;
	border-width: 1px;*/
	/*border: none;*/
	color: #F5F5F5; /*#0B5E89;*/
	height: 32px;
	line-height: 16px;
	width: auto;
}

.v-tabsheet-main .v-tabsheet-content {
	background-color: #F5F5F5;
	color: #F5F5F5;
}

.v-tabsheet-main .v-tabsheet-tabitem-selected {
	/*border-color: red;*/
	/*border: none;*/
	
}

.v-tabsheet-main .v-tabsheet-deco {
	/*border-color: #C22E24;
	border-width: 2px;*/
	
}

.layout-panel {
	background: #fff;
	/*TODO устранить ошибку при использовании border-radius: java.lang.Exception: Mixin Definition: border-radius not found*/
	/*@include border-radius(4px);*/
	/* TODO make this work in the Sass compiler */
	/* 	@include box-shadow(0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07)); */
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .14), 0 0 0 1px
		rgba(0, 0, 0, .07);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .14), 0 0 0 1px
		rgba(0, 0, 0, .07);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .14), 0 0 0 1px rgba(0, 0, 0, .07);
}

.v-ie8  & .layout-panel {
	border: 1px solid #d8d9d9;
}

/*----------------------- button -----------------
.v-button,.v-button:active,.v-disabled.v-button,.v-disabled.v-button .v-button-wrap,.v-button-wrap,.v-button:active .v-button-wrap,.v-button.v-pressed .v-button-wrap,.v-button:focus,.v-button:focus .v-button-wrap
	{
	background-image: url("img/button-sprites_red.png");
}

.v-button-caption {
	color: #FFFFFF;
	text-shadow: 0 0px 0 #FFFFFF*/

/*	.v-tabsheet-tabsheetpanel {
		background: #EDF0F2;
	}

	.v-tabsheet-tabitem-selected {
		color: #840202;
	}
	
	.v-tabsheet-tabitemcell-selected {	
 	  background-image:url("img/button-sprites_red.png");
   	 
	}
	
	.v-tabsheet-tabitem {	
 	  background-image:url("img/button-sprites_red.png");
	}
	
	.v-tabsheet-tabitem-selected .v-caption {
		color: black;
	}
	
	.v-tabsheet-tabitem .v-caption {
		color: white;
	}*/
	
	
}

/* Кастомные стили */

.v-panel-caption-AlfaStylePanelCenter{
        height: 2em !important;
        line-height: 2em !important;       
}

.AlfaStyleLeftMargin{
        margin-left: 20px !important;       
}

.AlfaMargin10{
        margin: 10px !important;       
}

.AlfaMarginMinus4{
        margin: -4px !important;       
}

.v-filterselect-error{
        border-color: red !important;
        border-width: 2px !important;
        border-style: solid !important;
        border-bottom-right-radius: 15px !important;
        border-top-right-radius: 15px !important;       
}

.v-datefield-error{
        border-color: red;
        border-width: 2px !important;
        border-style: solid;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
}

.v-textarea-error{
        border-color: red;
        border-width: 2px !important;
        border-style: solid;
}

.AlfaBoldGrey{
        color: grey;
        font-weight: bold;
}

.v-textfield.numerical {
    text-align: right;
}

.alfaCenterQuestionMark{
        width: 13px !important;
        background-color: lightgray !important;
        border-radius: 10px !important;
        text-align: center !important;
}

.AlfaRedColor{
        color: red !important;
}

.alfaBorderGrey{
        border-color: lightgrey !important;
        border-width: 1px !important;
        border-style: solid !important;
}

input[type=text]:disabled {
        background-color: #E2E2E2 !important;
        opacity: 1 !important;
}

.v-table .v-table-cell-content-red {
    color: red;
}

.v-table .v-table-cell-content-green{
    color: green;
}

.v-table .v-selected .v-table-cell-content-green{
    color: lightgreen;
}

table.certchooser  {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
    font-size: 12px;
}

.certchooser thead, .certchooser tbody, .certchooser tr, .certchooser td, .certchooser th { display: block; }

.certchooser tr{
	height: 30px;
}
.certchooser tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.certchooser thead th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

.certchooser tbody {
    height: 100px;
    overflow-y: auto;
}

.certchooser thead {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    /*width: calc(100% - 17px);*/
}

.certchooser tbody { border-top: 2px solid black; }

.certchooser tbody td, .certchooser thead th {
    width: 19.2%;
    float: left;
    border-right: 1px solid black;
}

.v-table-row, .v-table-row-odd{
	height: 20px;
}

.certchooser tbody td:last-child, .certchooser thead th:last-child {
    border-right: none;
}
